[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-mama-cas = "*"
django-sslserver = "*"
requests = "*"
graphene = "*"
graphene-django = "*"
pymysql = "*"

[requires]
python_version = "3.6"
